/* .credit-handler {
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
} */

.credit-handler input {
  margin-top: 25rem;
  /* margin-bottom: 28.5rem; */
}

.text-input {
  width: 30rem;
  height: 3rem;
  margin-right: 0.5rem;
  text-align: center;
}

.text-button {
  width: 10rem;
  height: 3rem;
  font-weight: bold;
  background-color: #4361ee;
  color: #d8e0ec;
  border-radius: 2px;
}

.text-button:hover {
  width: 10rem;
  height: 3rem;
  font-weight: bold;
  background-color: #4e5161;
  color: #d8e0ec;
}

h2 {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: red;
}
