.main-modal .navbar .container-fluid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.main-modal .container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 100px;
  margin-left: 200px;
}
.main-modal .container2 {
  margin-top: 100px;
  background-color: rgb(236, 245, 247);
  outline-width: 1px;
  outline-color: black;
  height: 500px;
  margin-left: 100px;
  margin-right: 100px;
}

.main-modal .container3 {
  background-image: var(--bs-gradient);
  margin-top: 20px;
  margin-left: 20px;
  height: 300px;
  margin-right: 20px;
}

.main-modal .container4 {
  background-image: var(--bs-gradient);
  margin-top: 20px;
  margin-left: 20px;
  height: 300px;
  margin-right: 20px;
}
.main-modal .col {
  height: 300px;
}

.main-modal .btn .btn-primary {
  align-self: center;
  width: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-modal .card-img-top {
  height: 50vh;
}
